
@{
    ViewData["Title"] = "申请已撤回";
}

<script src="~/lib/angular/angular.js"></script>
<script src="~/js/site.js"></script>

<div class="container">
    <div class="col-md-6">
        <br />
        <h2>你的申请已经撤回。</h2>
        <br />
        <a class="btn btn-primary" href="/">开始新的申请</a>
        <br />
    </div>
</div>