
@{
    ViewData["Title"] = "申请已经提交";
}
<script src="https://cdn.bootcss.com/angular.js/1.6.6/angular.min.js"></script>
<script src="~/lib/ng-file-upload/ng-file-upload-shim.js"></script>
<script src="~/lib/ng-file-upload/ng-file-upload.js"></script>
<script src="~/js/site.js"></script>

<div class="container">
    <div class="col-md-6">
        <br />
        <h2>你的申请已经提交。</h2>
        <br />
        <p>请将下方显示的申请特征值记录下来，这可以保证除了你（和我们）之外的任何人都无法查看或撤回你的申请。</p>
        <p style="color: red">请注意：如果你的特征值丢失，那么你再也无法查看或撤回申请。</p>
        <p>为了确保我们能够收到你的报名信息，请点击下方的“查看申请”并将页面打印为PDF文件，将这一文件和你所提交的附加证明一起作为电子邮件附件发送到<a href="mailto:scuchina2018@ourmail.cn">scuchina2018@ourmail.cn</a>。请以“姓名_学号”作为邮件的主题。</p>
        <br />
        <p style="background-color: blue; color: white; width: 20em; text-align:center;">@ViewData["hashValue"]</p>
        <br />
        <a class="btn btn-success" href="/Apply/ShowForm?hashValue=@ViewData["hashValue"]">查看申请</a>
        @*<a class="btn btn-primary" href="/Apply/Clear/">开始另一个申请</a>*@
        <br />
    </div>
</div>
