@{
    ViewData["Title"] = "欢迎来到 SCU_China";
}

<script src="~/lib/angular/angular.js"></script>
<script src="~/js/site.js"></script>

<div class="container" ng-app="iGEMForm" ng-controller="Welcome">
    <div class="col-md-6">
        <br />
        <h2>欢迎你，@ViewData["initName"]。</h2>
        <br />
        <div ng-show="'@ViewData["isExist"]' == 'Yes'">
            你之前已经提交过申请。<p></p>输入提交表格后系统生成的特征值来查看、撤回或重新填写表格。
            <br /><br />
            <input class="form-control" id="textName" placeholder="在此输入你的申请表格的特征值。" ng-model="hashValue">
            <br />
            <a class="btn btn-primary" href="/Apply/Retrieve?hashValue={{hashValue}}">继续</a>
        </div>
        <div ng-show="'@ViewData["isExist"]' == 'No'">
            很高兴见到你！看起来我们刚刚认识。点击下面的按钮来开始你的申请。
            <br /><br />
            <a class="btn btn-success" href="/Apply/Form">开始新的申请</a>
        </div>
        <br />
    </div>
</div>