@{
    ViewData["Title"] = "联系我们";
}

<div class="container">
    <br />
    <h4>
        如果有任何问题，请通过以下方式联系我们：
    </h4>
    <br />
    <p>
        2018 年 SCU_China 官方咨询QQ群: 667845428
    </p>
    <p>
        电子邮件: <a href="mailto:scuchina2018@ourmail.cn">
            scuchina2018@ourmail.cn
        </a>
    </p>
</div>