@{
    ViewData["Title"] = "欢迎来到 SCU_China";
}

<script src="~/lib/angular/angular.js"></script>
<script src="~/js/site.js"></script>

<style>
    .col-center-block {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="container" ng-app="iGEMForm" ng-controller="InitInfo" ng-init="initData = {'Name': '', 'StuID': ''}; test='';">
    <div class="col-md-12">
        <br />
        <h2>欢迎来到 SCU_China 2018 招新</h2>
        <br />
    </div>
    <div class="col-md-4">
        @*{{initData}}*@
        <form>
            <div class="form-group">
                <input class="form-control" id="textName" placeholder="姓名" ng-model="initData.Name">
            </div>
            <div class="form-group">
                <input class="form-control" id="textID" placeholder="学号" ng-model="initData.StuID">
            </div>
            <br />
        </form>
        <a class="btn btn-primary" href="/Apply/Welcome?name={{initData.Name}}&stuId={{initData.StuID}}">下一步</a>
        <button type="reset" class="btn btn-default" ng-click="initData = {'Name': '', 'StuID': ''};">清空</button>

@*        <pre>{{initData}}</pre>*@
  @*      <pre>@ViewData["nameSession"] , @ViewData["idSession"] , @ViewData["isExistSession"]</pre>*@
    </div>
</div>