@{
    ViewData["Title"] = "Home Page";
}

<script src="~/lib/angular/angular.min.js"></script>
<script src="~/js/site.js"></script>
<p></p>

<div ng-app="iGEMForm" ng-controller="BasicInfo">

 
</div>