@{
    ViewData["Title"] = "欢迎来到 SCU_China";
}

<script src="~/lib/angular/angular.js"></script>
<script src="~/js/site.js"></script>

<div class="container" ng-app="iGEMForm">
    <div class="col-md-12">
        <br />
        <h2>欢迎你，@ViewData["initName"] (@ViewData["initId"]) </h2>
        <p></p>
        <br />
    </div>
</div>